* {
	font-family: monospace;
}

body {
	background-color: black;
}

div.center {
	margin: auto;
}

table.hex td {
	width: 20px;
}

table.ascii td {
	width: 30px;
}

table.ascii {
	width: 400px;
}

table.hex {
	width: 400px;
}

table.striped tr.striped {
  background-color: #EDF3FE;
}

table.striped tr.striped:hover {
  background-color: #3875D7;
}

table.striped tr.striped.odd {
  background-color: #ffffff;
}

table.striped tr.striped.odd:hover {
  background-color: #3875D7;
}


td.separator {
	width:  20px;
}

table.hex td.rightSeparator, table.hex td.leftSeparator  {
	width: 5px;
}

table.ascii td.rightSeparator, table.ascii td.leftSeparator {
	width: 5px;
}
